<h1>WELCOME TO POKEMON DODGEBALL LEAGUE!!!!!</h1>
<main>
  <section>
    <p>The pokemon dodgeball league is the greatest league in the world. Choose your favourite
      pokemon and test your metal in the ring with some of the greatest trainers.
      Please follow the links above to begin on the greatest sporting event in the world.
    </p>
  </section>
  <section>
    <img src="/images/butterfree.jpg" alt="butterfree" width=200 height=200/>
    <img src="/images/bulbasaur.png" alt="bulbasaur" width=200 height=200/>
    <img src="/images/pikachu.jpg" alt="pikachu" width=200 height=200/>
    <img src="/images/charmander.jpg" alt="charmander" width=200 height=200/>
    <img src="/images/squirtle.jpg" alt="squirtle" width=200 height=200/>
  </section>
</main>
