<h1>New Game: Choose your Pokemon!</h1>
<p>Please refer to the pokedex if you require more information on a pokemon</p>

<form action="/new" method="post">

  <label for="pokemon1">Select your first Pokemon:</label>

  <select name="Pokemon 1">
    <option value="Charmander">Charmander</option>
    <option value="Bulbasaur">Bulbasaur</option>
    <option value="Squirtle">Squirtle</option>
    <option value="Butterfree">Butterfree</option>
    <option value="Beedrill">Beedrill</option>
    <option value="Pidgey">Pidgey</option>
    <option value="Raticate">Raticate</option>
    <option value="Ekans">Ekans</option>
    <option value="Pikachu">Pikachu</option>
    <option value="Psyduck">Psyduck</option>
    <option value="Ponyta">Ponyta</option>
    <option value="Mankey">Mankey</option>
    <option value="Magmar">Magmar</option>
    <option value="Ninetales">Ninetales</option>
    <option value="Jigglypuff">Jigglypuff</option>
    <option value="Magikarp">Magikarp</option>
    <option value="Vileplume">Vileplume</option>
    <option value="Geodude">Geodude</option>
    <option value="Venomoth">Venomoth</option>
    <option value="Gengar">Gengar</option>
    <option value="Chansey">Chansey</option>
  </select>

  <label for="pokemon2">Select your Second Pokemon:</label>

  <select name="Pokemon 2">
    <option value="Charmander">Charmander</option>
    <option value="Bulbasaur">Bulbasaur</option>
    <option value="Squirtle">Squirtle</option>
    <option value="Butterfree">Butterfree</option>
    <option value="Beedrill">Beedrill</option>
    <option value="Pidgey">Pidgey</option>
    <option value="Raticate">Raticate</option>
    <option value="Ekans">Ekans</option>
    <option value="Pikachu">Pikachu</option>
    <option value="Psyduck">Psyduck</option>
    <option value="Ponyta">Ponyta</option>
    <option value="Mankey">Mankey</option>
    <option value="Magmar">Magmar</option>
    <option value="Ninetales">Ninetales</option>
    <option value="Jigglypuff">Jigglypuff</option>
    <option value="Magikarp">Magikarp</option>
    <option value="Vileplume">Vileplume</option>
    <option value="Geodude">Geodude</option>
    <option value="Venomoth">Venomoth</option>
    <option value="Gengar">Gengar</option>
    <option value="Chansey">Chansey</option>
  </select>

  <label for="pokemon3">Select your Third Pokemon:</label>

  <select name="Pokemon 3">
    <option value="Charmander">Charmander</option>
    <option value="Bulbasaur">Bulbasaur</option>
    <option value="Squirtle">Squirtle</option>
    <option value="Butterfree">Butterfree</option>
    <option value="Beedrill">Beedrill</option>
    <option value="Pidgey">Pidgey</option>
    <option value="Raticate">Raticate</option>
    <option value="Ekans">Ekans</option>
    <option value="Pikachu">Pikachu</option>
    <option value="Psyduck">Psyduck</option>
    <option value="Ponyta">Ponyta</option>
    <option value="Mankey">Mankey</option>
    <option value="Magmar">Magmar</option>
    <option value="Ninetales">Ninetales</option>
    <option value="Jigglypuff">Jigglypuff</option>
    <option value="Magikarp">Magikarp</option>
    <option value="Vileplume">Vileplume</option>
    <option value="Geodude">Geodude</option>
    <option value="Venomoth">Venomoth</option>
    <option value="Gengar">Gengar</option>
    <option value="Chansey">Chansey</option>
  </select>

  <input type="submit" value="Begin"></input>

</form>
